/*
 * COLOR SHCEME:
 * gray: #3a4b56
 * dark gray: #202326
 * white: #000000
*/

/********** GENERAL **********/
body{
	color: #FFFFFF;
	background-color: #202326; /* dark gray*/

	font-size: 20px;
}

a{
	color: white;
}

/********** NAVBAR ***********/
.navbar, marquee{
	background-color: #3a4b56;  /* gray*/

	text-align: center;
	font-size: 20px;
	font-weight: bold;

	border: 3px solid white;
}

.navbar ul{
	display: inline-block;

	list-style: none;

	margin: 0;
	padding: 0;

}

.navbar li{
	display: inline-block;
	padding: 10px;
}

.navbar li a{
	color: white;
	text-decoration: none;
}

/********** MAIN CONTAINER ***********/
.mainContainer{
	width: 70%;

	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

/********** PROFILEPIC ***********/
#profilePic{
	height: 200px;
	width: 200px;

	float: right;

	padding: 20px;
}

/********** TABLE ***********/
table, th, td{
	border: 1px solid white;
	border-collapse: collapse;
}

table{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;

}


th, td{
	height: 50px;
	width: 180px;

	text-align: center;

	padding: 5px;
}

#fillerCell{
	border-top: 1px solid #00000000;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #00000000;
}

@keyframes highlightCellIn{
	from{background-color: #202326} /* dark gray */
	to{background-color: #3a4b56} /* gray */
}

@keyframes highlightCellOut{
	from{background-color: #3a4b56} /* gray */
	to{background-color: #202326} /* dark gray */
}
.rowOne, .rowTwo, .rowThree, .rowFour, .rowFive, .rowSix, .rowSeven, .rowEight, .rowNine{
	animation: highlightCellOut 0.3s forwards;
	animation-timing-function: ease-in-out;
}

.rowOne:hover,
.rowTwo:hover,
.rowThree:hover,
.rowFour:hover,
.rowFive:hover,
.rowSix:hover,
.rowSeven:hover,
.rowEight:hover,
.rowNine:hover
{
	animation: highlightCellIn 0.3s forwards;
	animation-timing-function: ease-in-out;
}
